.dropdown-suggest{
    max-width: 570px;
    min-width: unset !important;
}
.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item:hover{
    background-color:  transparent !important;
}
 .ant-dropdown-menu .ant-dropdown-menu-title-content{
    transition: all 0.5s;
 }
.ant-dropdown-menu-title-content:hover{
    background-color: #f5f5f5;
    
}
