.searchService_item  {
    @media  screen and (width:1024) {
        
    
    background-image: url(./../../../../public/hero-xl-x1.webp);
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
    }
}
.dropdown-suggest_2{
    max-width: 616px;
    min-width: unset !important;
}