.searchService_content{
    background-image: url(./../../../../public/hero-xl-x1.png);
    height: 500px;
    object-fit: cover;
}
.dropdown-suggest_2{
    max-width: 616px;
    min-width: unset !important;
}